* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

h1 {
	margin-bottom: 20px;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-width: 1440px;
	margin: 50px auto;
}

.todo-wrapper {
	max-width: 800px;
	padding: 16px 24px;
	background-color: #f2f2f2;
	border-radius: 10px;
	border: 2px solid rgb(49, 45, 45);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.head {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.btn {
	background-color: rgb(147, 147, 195);
	padding: 10px 16px;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	width: 100px;
}

.input {
	font-size: 14px;
	height: 37px;
	width: 100%;
	text-align: center;
	padding: 0px 5px;
	border-radius: 5px;
	border: 1px solid black;
	font-weight: 600;
}

.ul {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.li {
	width: 600px;
	margin: 15px auto;
	list-style: none;
	display: flex;
	justify-content: space-between;
	border: 2px solid black;
	border-radius: 10px;
	align-items: center;
	padding: 5px 0;
	background-color: rgb(164, 202, 254);

}

.button {
	width: 20px;
	height: 20px;
	padding: 5px;
	border: 1px solid black;
}

.header-advanced {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.header-advanced button {
	width: 150px;
}

.search {
	width: 150px;
	border-radius: 10px;
	text-align: center;
	padding: 10px 16px;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
}


.active {
	background-color: rgb(235, 210, 227);
}

.done,
.delete {
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid rgb(0, 0, 0);
	padding-bottom: 18px;
	cursor: pointer;
	min-height: 20px;
	min-width: 25px;
}

.list-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

}

.todo-date {
	margin: 5px;
	background: white;
	padding: 5px;
	border-radius: 10px;
	align-self: flex-end;
	font-size: 12px;

}

.hide {
	display: none;
}

.info {
	font-size: 12px;
	margin-top: 20px;
}